* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2.5em;
}
.push {
height: 2.5em;
}

body {
	background: #c3dedf url(../images/background.png) repeat;
	color: #000;
	font-family: 'Economica', sans-serif;
	font-size: 19px;
	width: 100%;
}

a {
	outline: none;
}

img {
	border: 0;
}

p a {
	color: #df4b9f;
}

/**************************** header ************************/
#header {
	background: #f5f5f5 url(../images/bg-body-corto1.png) repeat-x center top;
	height: 259px;
}

.pestana{
	background: url(../images/pestana.png) no-repeat;
	height: 50px;
	width:150px;
	padding-top: 15px;
	text-align: center;
}

.pestana_select{
	background: url(../images/pestana_select.png) no-repeat;
	height: 50px;
	width:150px;
	padding-top: 15px;
	text-align: center;
}

#header  h1{
	font-family: 'Handlee', cursive;
	font-weight: normal;
	
}

#header div {
	margin: 0 auto;
	width: 960px;
}

#header div div {
	height: 120px;
	overflow: hidden;
	position: relative;
}

#header div div div#logo {
	float: left;
	width: 354px;
	margin-top: 15px;
}

#header div div div {
	float: right;
	height: 110px;
	width: auto;
	margin-top: -10px;
}

#header div div div div {
	display: block;
	float: none;
    height: auto;
    padding-bottom: 40px;
	overflow: hidden;
	width: auto;

	
}

#header div div div div a {
	color: #8565ad;
	display: block;
	float: left;
	line-height: 13px;
	text-decoration: none;
	margin-top: 15px;
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	margin-left: 10px;
}

#header div div div div a.last {
	border: 0;
	padding-right: 0;
}

#header div div div form {
	position: absolute;
	right: 0;
	top: 70px;
	height: 30px;
	width: 290px;
}

#header div div div form input {
	float: left;
	line-height: 30px;
}

#header div ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	
}

#header div ul li {
	float: left;
	height: 50px;
	line-height: 50px;
	width: 137px;
	margin-top: 0px;
}

#header div ul li a {
	background: url(../images/sprite-buttons.png) no-repeat 0 -205px;
	color: #5b5c5e;
	display: block;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #e8edf1;
	text-transform: capitalize;
}

#header div ul li a:hover, #header ul li.current a {
	color: #000;
	text-shadow: 1px 1px 0 white;
}

#header div ul li.current a {
	background: url(../images/sprite-buttons.png) no-repeat 0 -97px;
}

.bienv{
	width: 800px;
	margin-left: 50px;
	margin-top: 40px;
	text-align: justify;
}

.bienv-title{
	font-size: 34px;

}

/**************************** end header ************************/

#content {
	background: #E8E8E8;
	width: 959px;
	margin: -90px auto;
	overflow: hidden;
	padding: 0;
	min-height: 440px;
	font-size: 20px;
}

#content-aux {
	background: #E8E8E8;
	width: 959px;
	margin: -90px auto;
	overflow: hidden;
	padding: 0;
	min-height: 440px;
	font-size: 20px;
}



#content div.home {
	overflow: hidden;
	width: 960px;
}

#content div#about div.aside,
#content div#services div.aside {
	float: left;
	padding: 0;
	width: 420px;
}

#content .home .asideRight{
	color: black;
	margin-top: 20px;
	float: left;
	width: 600px;
	height:250px;
}


#content .home .cakes{
	color: black;
	margin-top: 20px;
	margin-left: 40px;
	width:550px;
}

#content .home .cakes input[type="checkbox"]{
	width: 30px;
	
}


#content .home .cakes input[type="text"]{
	font-size: 10px;
	
}


#content .home .title{
	margin-top: 30px;
	margin-left: 30px;
	font-size: 26px;
	color: #4d366a;
}


#content .home .title-ins{
	margin-top: 30px;
	margin-left: 30px;
	font-size: 22px;
	color: #4d366a;
	width: 90%
}


#content .home .title-ocEsp{
	margin-top: 15px;
	margin-left: 30px;
	font-size: 20px;
	color: #4d366a;
}


#content-aux .title-img{
	margin-top: 15px;
	margin-left: 45px;
	font-size: 35px;
	color: #4d366a;
}

#content-aux .title-img a{
	color: transparent;
}





#content .home .subtitle{
	color: black;
	margin-top: 10px;
	margin-left: 30px;
	font-size: 18px;
	width: 600px;
}



#content .home .asideRight .step1,#content .home .asideRight .step6 {
	font-size: 24px;
	font-weight: bold;
	color: #8a6fac;
}

#content .home .asideRight .step1 a,#content .home .asideRight .step6  a{
	color: transparent;
}

#content .home .asideRight .step1 a img,#content .home .asideRight .step6  a img{
	width: 24px;
	height: 24px;
}

#content .home .asideRight .options-steps{
	margin-left: 60px;
}

#content .home .asideRight .options-steps-left {
    float: left;
	margin-right: 50px;
	margin-left: 30px;
	padding-top: 10px;
	font-size: 18px;
	width: 250px;

}

#content .home .asideRight .options-steps-right {
    overflow: hidden;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 250px;
	font-size: 18px;

}


#content .home .asideRight .options-steps input, #content .home .asideRight .options-steps-right input, #content .home .asideRight .options-steps-left input{
	margin-top: 15px;
}

#content .home .banner a img{
	margin-top: 10px;
}


#content .home .button{
	background: url(../images/button.png) no-repeat;
	border: 0;
	display: block;
	height: 30px;
	width: 110px;
	font-family: 'Economica', sans-serif;
	font-size: 16px;
	cursor: pointer;
}

#content .home .buttonDisable{
	background: url(../images/button_disable.png) no-repeat;
	border: 0;
	display: block;
	height: 30px;
	width: 110px;
	font-family: 'Economica', sans-serif;
	font-size: 16px;
}

#content .home .button-section{
	cursor: pointer;
	position: absolute;
	right: 220px;
	top: 460px;
}

#content .home .cakes .button-section{
	float: right;
	margin-top: 20px;
	cursor: pointer;
	
	
}

.dt-button{
	margin-top:10px;
	margin-left:420px;
}

.dt-button-dis{
	margin-top:10px;
	margin-left:420px;
}

#content .home .subtotal-section{
	float: right;
	margin-right: 20px;
	margin-top: 2px;

}

#content .home .aside .cakes .subtotal-section{
	float: right;
	margin-top: 20px;
}



#content fieldset{
  padding: 1em;
  border: 0;
  width: 360px;
}

#content label{
  float:left;
  width:25%;
  height: 30px;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:left;
}



#content .coments-ocEsp form fieldset{
  padding: 1em 1em 0em 1em;
  border: 0;
  width: 800px;
  font-size: 18px;
  margin-left: 20px;
}

#content .coments-ocEsp form label{
  float:left;
  width:35%;
  height: 30px;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:left;
}

#content .coments-ocEsp form input[type="checkbox"] {
	color: #aeaeae;
	display: inline;
	margin: 0;
	width: 30px;
}

#content .coments-ocEsp form input[type="text"] {
	color: #aeaeae;
	display: inline;
	margin: 5px 0;
}

#content .coments-ocEsp form input[type="submit"] {
	color: #000;
	display: inline;
	margin: 0;
}


#content .coments-ocEsp form textarea {
	background: #fff;
	border: 1px solid #cccccc;
	width: 400px;
	height: 50px;
}

#content .home .registration {
  background: white;
  width: 450px;
  float: right;
  margin-top: 20px;
  margin-right: 230px;
  border-radius: 15px;

 
}


.separator {
	height: 50px;
	margin-top: 20px;
	width: 160px;
	background: url(../images/sprite-buttons.png) no-repeat 0 -205px;
	padding-left: 15px;
	padding-top: 10px;
}

.separator a{
	text-decoration: none;
	color: black;
}

.separator-current {
	height: 50px;
	margin-top: 20px;
	width: 160px;
	background: url(../images/sprite-buttons.png)  no-repeat 0 -97px;
	padding-left: 15px;
	padding-top: 10px;
}

.separator-current a{
	text-decoration: none;
	color: black;
}

.regis-title{
	padding-left: 20px;
	font-size:30px;
	color: #4d366a;

}

.datos{
	width: 250px;
	float: left;
	margin-top: 10px;
}



#content .home .registration form fieldset{
  padding: 10px 20px 0;
  border: 0;
  width: 100%;
}

#content .home .registration form label{
  float:left;
  width:30%;
  height: 30px;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:left;
}

#content .home .registration form input[type="text"], #content .home .registration form input[type="password"]{
	margin: 0;
	padding: 0;
	height: 15px;
	border-color: #CCCCCC #E7E6E6 #E7E6E6 #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: gray;
    outline: medium none;
    padding: 6px;
    
}

.txtCedId{
	display: inline;

}





#content .home .registration form input[type="checkbox"]{
	display: inline;
	padding: 0;
	margin-bottom: 30px;
	margin-left: 150px;
	position: relative;
}

#content .home .registration form textarea{
	background: #fff;
	border: 1px solid #cccccc;
	height: 40px;
	padding: 5px;
	width: 240px;
}

.error{
	font-size: 9px; 
	color:red;
	display: none;
	font-family: Arial;
}

.imgPlus{
	float: right;
	margin-right: 30px;
	margin-top: -25px;
}

#errorDir, #errorDirEnv{
	margin-left: 150px;
}

#content .home .registration .button{
	background: url(../images/button.png) no-repeat;
	border: 0;
	display: block;
	height: 30px;
	width: 110px;
	font-family: 'Economica', sans-serif;
	font-size: 16px;
	cursor: pointer;
	color: black;
}

.cont-button{
	float: right;
	margin-right: 30px;
}


.reg-button{
	float: right;
	margin-right: 40px;
	margin-bottom: 5px;
}

.ocEsp-button{
	float: right;
	margin-right: 220px;
}





#content div#services div.aside span {
	background: url(../images/sprite-icons.gif) no-repeat 0 0;
	color: #84284D;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
	display: block;
	text-indent: 25px;
}

#content div#services div.aside p {
	color: #5F5D5E;
	line-height: 28px;
	margin: 10px 0 30px;
	text-align: justify;
}

#content div#about div.section,
#content div#services div.section {
	float: right;
	padding: 15px 0 0;
	width: 420px;
}

#content div#about div.section div#visitshop,
#content div#services div.section div#visitshop,
#content div div#visitshop {
	background: url(../images/bg-sweets.gif) no-repeat center top;
	height: 210px;
    padding: 0;
	position: relative;
	right: 0;
    width: 420px;
}


#content div p {
	line-height: 28px;
}

#content div#about div.section div#visitshop div,
#content div#services div.section div#visitshop div,
#content div div#visitshop div {
	background: url(../images/pie.jpg) no-repeat 205px bottom;
	height: 205px;
    margin: 0;
	padding: 0;
	width: auto;
}

#content div#about div.section div#visitshop div span,
#content div#services div.section div#visitshop div span,
#content div div#visitshop div span {
	display: block;
    height: 157px;
    position: absolute;
    right: 1px;
    top: 25px;
    width: 211px;
}

#content div#about div.section div#visitshop div p,
#content div#services div.section div#visitshop div p,
#content div div#visitshop div p {
	color: #78394E;
    font-size: 23px;
    margin: 0;
	padding-left: 20px;
	padding-top: 30px;
}

#content div#about div.section div#visitshop div p span,
#content div#services div.section div#visitshop div p span,
#content div div#visitshop div p span {
	color: #d1467d;
    display: block;
    font-family: Trebuchet MS;
    font-size: 28px;
	font-style: italic;
	height: auto;
    position: static;
    right: 0;
    top: 0;
    width: auto;
}

#content div#about div.section div#visitshop div a.visit,
#content div div.section div#visitshop div a.visit,
#content div div#visitshop div a.visit {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -491px;
	color: #6E4253;
    display: block;
    font-size: 18px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    width: 170px;
}

#content div#about div.section div,
#content div div.section h3 {
	padding: 10px 0 0;
	width: auto;
}

#content div#about div.section div h3,
#content div div.section h3 {
	color: #852349;
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0 0;
}

#content div div.section h3 {
	margin: 0;
    padding: 0;
}



#content div#about div.section div p,
#content div div.section p {
	line-height: 28px;
	margin: 0;
	text-align: justify;
}

#content div div.section p {
	margin-top: 5px;
	margin-bottom: 20px;
}

#content div#about div.section div a.callus {
	background: url(../images/sprite-icons.gif) no-repeat 0 -232px;
	color: #c04973;
	display: block;
	font-size: 18px;
	height: 91px;
	line-height: 30px;
	margin-top: 20px;
	padding-top: 10px;
	text-decoration: none;
	text-indent: 80px;
}

#content div#about div.section div a.callus span {
	color: #852349;
	display: block;
	font-family: Trebuchet MS;
	font-size: 25px;
	font-style: italic;
}

#content div#about div.aside span {
	background: none;
	color: #DF4B9F;
    display: block;
    font-size: 18px;
    text-indent: 0;
}

#content div#about div.aside p {
	line-height: 28px;
    margin-bottom: 30px;
    margin-top: 0;
	text-align: justify;
}

#content div h1 {
	color: #84284d;
	font-family: 'Handlee', cursive;
	font-size: 25px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding-bottom: 10px;
}

#content div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#content div ul li {
	float: left;
	height: 220px;
	width: 450px;
}

#content div ul li div {
	padding: 0;
    position: relative;
    width: auto;
}

#content div ul li div div {
	left: 30px;
    padding: 0;
    position: absolute;
    top: 20px;
    width: auto;
}

#content div ul li div div h2 {
	font-family: 'Handlee', cursive;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

#content div ul li div div h2 a {
	color: #84284d;
	text-decoration: none;
}

#content div ul li div div p {
	color: #5F5D5E;
	margin: 0 0 10px;
	line-height: 28px;
	width: 185px;
	text-align: left;
}

#content div ul li div div a.view {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -451px;
	color: #84284d;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 120px;
}

#content div.home div.aside {
	float: left;
    height: auto;
    padding: 20px 0 0 20px;
    width: 485px;
}

#content div.home div.aside_aux{
	float: left;
    height: auto;
    padding: 0 0 0 20px;
    width: 920px;
}

#content div.home div.aside h1 {
	color: #84284d;
	font-family: 'Handlee', cursive;
	font-size: 25px;
	font-style: italic;
	font-weight: normal;
	margin: 0 0 5px;
	padding-bottom: 0;
	text-indent: 0;
}

#content div.home div.aside p, div.aside_aux p {
	line-height: 28px;
	margin-top: 20px;
	text-align: justify;
}

#content div.home div.aside img {
	margin-left: 10px;
	margin-top: 30px;
}


#content div.home div.aside p a.readmore {
	color: #f8af00;
	font-weight:bold;
	text-decoration: none;
}

#content div.home div.section {
	float: right;
	height: 380px;
	width: 400px;
	margin-right: 30px;
	margin-top: 30px;
	background: #fdd470;
}

#content div.home div.section-contact {
	float: right;
	height: 380px;
	width: 400px;
	margin-right: 30px;
	margin-top: 30px;
	background: #fff;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 20px;
}

#content div.home div.sectionDT{
	float: right;
	height: 270px;
	width: 270px;
	margin-right: 30px;
	margin-top: 70px;
	background: #fdd470;
}

#content div.home div.sectionLeft {
	float: left;
	height: 280px;
	width: 280px;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 30px;
	background: #fdd470;
}

#content div.home div.section div {
	background: white;
	height: 360px;
	margin-top: 10px;
	width: 380px;
	margin-left: 10px;
	
}

#content div.home div.sectionDT div {
	background: white;
	height: 250px;
	margin-top: 10px;
	width: 250px;
	margin-left: 10px;
	
}

#content div.home div.sectionLeft div {
	background: white;
	height: 260px;
	margin-top: 10px;
	width: 260px;
	margin-left: 10px;
	
}

#content div.home div.section div h2 {
	color: #84284d;
	/* font-family: 'JamesFajardoRegular'; */
	font-family: 'Handlee', cursive;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin: 5px 0 5px;
}

#content div.home div.section div p {
	color: #5f5d5e;
	line-height: 28px;
	margin: 0;
	text-align: justify;
	
}

#content div.home div.section ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 360px;
	margin-right: 10px;
}

#content div.home div.section-img div ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin-top: 15px;
	margin-left: 60px;

	
}

#content div.home div.section-img div ul li {
	float: left;
	background: rgb(136,201,193);
	height: 295px;
	width: 255px;
	margin-left: 30px;
	text-align:center;
	font-size:24px;
	border-radius: 10px;
}


#content div.home div.section-img div ul li a {
	float: left;
	height: 235px;
	width: 235px;
	margin-left: 10px;
	margin-top: 10px;
}


#content div.home div.sectionDT ul {
	float: right;
	list-style: none;
	width: 230px;
	height: 230px;
	margin-right: 10px;
	margin-top: 10px;
	
}

#content div.home div.sectionLeft ul {
	float: left;
	list-style: none;
	width: 240px;
	height:240px;
	margin-left: 10px;
	margin-top: 10px;
}




#content div.home div.section ul li {
	display: block;
    height: auto;
    width: auto;
	margin-top:9px;
}



#img-last{
	display: block;
    height: auto;
    width: auto;
	margin-left:10px;
}




#content div form p {
	line-height: 28px;
    margin: 0;
    padding-bottom: 20px;
    text-align: justify;
    width: 420px;
}

#content div form p span {
	color: #5F5D5E;
}

#content div form input {
	color: #aeaeae;
	display: block;
	margin: 20px 0;
}

#content div form input.textcontact {
	background: url(../images/input-contact.gif) no-repeat 0 0;
	border: 0 none;
	font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: 341px;
}

#content div form textarea {
	background: #fff;
	border: 1px solid #cccccc;
	height: 350px;
	padding: 5px;
	width: 890px;
}

#content div form input.submit {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -411px;
	border: 0;
	display: block;
	margin-left: 780px;
	height: 30px;
	width: 120px;
}

#content div#blog {
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 30px 30px 0;
	position: relative;
	width: 930px;
}


#content div#blog div#articles {
	float: left;
	padding: 0;
	width: 692px;
}

#content div#blog div#articles ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}

#content div#blog div#articles ul li {
	background: url(../images/bg-post.gif) repeat-y;
	display: block;
	height: auto;
	position: relative;
	margin-bottom: 30px;
	width: 692px;
}

#content div#blog div#articles ul li div {
	background: url(../images/bg-post-header.gif) no-repeat center top;
	position: static;
}

#content div#blog div#articles ul li div div {
	background: url(../images/bg-post-footer.gif) no-repeat center bottom;
}

#content div#blog div#articles ul li div div h1 {
	font-family: 'Handlee', cursive;
	font-size: 20px;
	letter-spacing: 0;
	padding-top: 20px;
	text-indent: 125px;
}

#content div#blog div#articles ul li div div h1 a {
	color: #84284D;
	text-decoration: none;
}

#content div#blog div#articles ul li div div h2 {
	color: #FF2279;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    letter-spacing: 0;
	padding-left: 50px;
	padding-top: 10px;
}

#content div#blog div#articles ul li div div p {
	padding: 0 28px 0 52px;
	text-align: justify;
	width: auto;
}

#content div#blog div#articles ul li div div span.date {
	color: #F7FFFF;
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 104px;
}

#content div#blog div#articles ul li div div span.connect {
	display: block;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 20px;
}

#content div#blog div#articles ul li div div span.connect a {
	display: block;
    float: left;
    height: 20px;
    margin: 0 0 0 5px;
    text-decoration: none;
    text-indent: -99999px;
    width: 20px;
}

#content div#blog div#articles div.section {
	background: url(../images/border-horizontal.gif) no-repeat 40px top;
	float: none;
    overflow: hidden;
    padding-left: 35px;
    width: 617px;
}

#content div#blog div#articles div.section a.newpost {
	float: left;
}

#content div#blog div#articles div.section a.oldpost {
	float: right
}

#content div#blog div#articles div.section a {
	color: #cdc9ca;
	font-size: 14px;
	display: block;
	text-decoration: none;
}

#content div#blog div#articles div.section a:hover, 
#content div#blog div#articles div.section a.oldpost {
	color: #a36e82;
}

#content div#blog div#articles ul li div div span.connect a.twitter {
	background: url(../images/sprite-icons.gif) no-repeat 0 -362px;
}

#content div#blog div#articles ul li div div span.connect a.heart {
	background: url(../images/sprite-icons.gif) no-repeat 0 -171px;
}

#content div#blog div#articles ul li div div span.connect a.facebook {
	background: url(../images/sprite-icons.gif) no-repeat 0 -112px;
}

#content div#blog div#articles ul li div div span#tag {
	color: #d1d1d1;
	display: block;
	padding-left: 50px;
	padding-bottom: 20px;
}

#content div#blog div#articles ul li div div span#tag a {
	color: #d1d1d1;
}

#content div#blog div#articles ul li div div span#tag a:hover {
	color: #DF4B9F;
}

#content div#blog div#sidebar {
	float: right;
	padding: 0 0 0 25px;
    width: 200px;
}

#content div#blog div#sidebar h2 {
	background: url(../images/sidebar-separator.gif) no-repeat center bottom;
	font-size: 18px;
	font-weight: normal;
	margin: 20px 0 0;
	padding-bottom: 15px;
}

#content div#blog div#sidebar h3 {
	background: url(../images/sidebar-separator.gif) no-repeat center bottom;
	font-size: 18px;
	font-weight: normal;
    margin: 0;
    padding-top: 10px;
	padding-bottom: 15px;
    text-indent: 20px;
	width: 222px;
}

#content div#blog div#sidebar h3 a span,
#content div#blog div#sidebar div p a span,
#content div#blog div#sidebar div p a:hover,
#content div#blog div#sidebar h3 a:hover {
	color: #cf8fa7;
}

#content div#blog div#sidebar h3 a {
	background: url(../images/arrow-down.gif) no-repeat 175px 5px;
	display: block;
	color: #ff2279;
	text-decoration: none;
}

#content div#blog div#sidebar h3.first {
	padding-top: 5px;
}

#content div#blog div#sidebar h3.first a {
	background: url(../images/arrow-up.gif) no-repeat 175px 5px;
}

#content div#blog div#sidebar div p a {
	color: #5f5d5e;
	text-decoration: none;
}

#content div#blog div#sidebar div p {
	margin: 0;
}

#content div#blog div#sidebar div {
	background: url(../images/sidebar-separator.gif) no-repeat center bottom;
	padding-right: 0;
	padding-bottom: 15px;
	width: auto;
}

#content div div#account {
	background: url(../images/bg-form-top-curve.gif) no-repeat center top;	
	color: #5F5D5E;
	margin: 60px auto 0;
	padding: 10px 0 0 ;
	width: 420px;
}

#content div div#account div {
	
	background: url(../images/bg-form-bottom-curve.gif) no-repeat center bottom;
	padding: 0 0 10px;
	width: auto;
}

#content div div#account div form {
	background: url(../images/bg-form.gif) repeat-y;
	margin: 0;
	padding-bottom: 15px;
}

#content div div#account div form input {
	color: #5F5D5E;
	margin: 0 0 0 10px;
}

#content div div#account div form span {
	color: #84284D;
	display: block;
	padding: 15px 10px 10px 15px;
}

#content div div#account div form input#email,
#content div div#account div form input#login,
#content div div#account div form input#password,
#content div div#account div form input#confirmpass,
#content div div#account div form input#name {
	border: 1px solid #e0e0e0;
	height: 25px;
	width: 310px;
}

#content div div#account div form input#rememberme {
	display: inline-block;
	vertical-align: sub;
}

#content div div#account div form table {
	margin-left: 10px;
}

#content div div#account div form table tr td {
	padding: 5px 0;
    text-align: right;
}

#content div div#account div form table tr td.rememberme {
	padding: 0;
	text-align: left;
}

#content div div#account div form table tr td label input#rememberme {
	vertical-align: sub;
}

#content div div#account div form input.submitbtn {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -376px;
	color: #84284D;
	border: 0;
	height: 25px;
	font-size: 11px;
	margin-left: 300px;
	margin-top: 10px;
	text-transform: uppercase;
	width: 90px;
}

/**************************** end content ************************/
#footer {
	position: relative;
	width: 100%;
	color: white;
	background: #4d366a;
	height: 2.5em;
}

#footer div#navigation  {
	padding-top: 17px;
	font-size: 12px;
	text-align: center;
	
}


#footer div#navigation div p {
	font-size: 12px;
}

div.social {
	position: relative;
	float: right;
	margin-top: -20px;
	margin-right: 210px;
}

div.social a {
	margin-left: 5px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#signup {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 404px;
	font-size: 16px;
	
}

#signup-header {
    background-color: url("images/hd-bg.png") repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 0px 8px 14px;
}

.modal_close {
    background: url("/armaTuTorta/images/close_icon.png") repeat scroll 0 0 transparent;
    display: block;
    height: 24px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    z-index: 2;
}

#signup-header h2 {
    color: #444444;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#signup-header p {
    color: #444444;
    font-size: 1.3em;
    margin: 0;
    text-shadow: none;
}

#signup .txt-fld, #signup .txt-fld-pass {
    padding: 14px 20px;
    position: relative;
    text-align: right;
    width: 364px;
}

#signup .txt-fld label, #signup .txt-fld-pass label {
    color: #222222;
    display: block;
    float: left;
    font-size: 1.3em;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}


#signup .txt-fld-text-aux {
   margin-left: 20px;
   margin-top:5px;
}


#signup .txt-fld input {
	background: none no-repeat scroll 240px 8px #F2E0F7;
    border-color: #CCCCCC #E7E6E6 #E7E6E6 #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    outline: medium none;
    padding: 8px;
    width: 244px;
}

#signup .txt-fld-pass input {
	background: none no-repeat scroll 240px 8px #F2E0F7;
    border-color: #CCCCCC #E7E6E6 #E7E6E6 #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    outline: medium none;
    padding: 8px;
    width: 244px;
}

#signup .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
}

#loginPage{
    background: none repeat scroll 0 0 #BDBDBD;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    float: right;
    font-family: 'Economica', sans-serif;
	font-size: 1.4em;
    font-weight: bold;
    overflow: visible;
    padding: 7px 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: auto;
	
}


#container { width: 100%; padding: 20px 55px 0;  }

#thumbs { list-style: none; text-align: left; }
#thumbs li { position: relative; margin-right: 7px; margin-bottom: 14px; }

#thumbs li img { 
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#thumbs li:hover img { 
  opacity: 0.6
}

#thumbs li > .meta { 
  float: left;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  left: 125px;
  height: 85px;
  width: 0;
  
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.2em;
  background: #fff;
  
  -webkit-box-shadow: 1px 0px 4px #8f8e88;
  -moz-box-shadow: 1px 0px 4px #8f8e88;
  -o-box-shadow: 1px 0px 4px #8f8e88;
  box-shadow: 1px 0px 4px #8f8e88;

  
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

#thumbs li:hover > .meta {
  width: 115px;
  padding: 3px 5px;
}


#thumbs li .meta h4 { font-weight: bold; margin-bottom: 11px; font-size: 1.25em; padding-top: 8px; color: #363636; }
#thumbs li .meta span { display: block; margin-bottom: 5px; }


/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/** base carousel **/
.carousel ul {
	position:absolute;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}

.no-js .carousel ul {position:static;}

.carousel .mask {
	position:relative;
	overflow:hidden;
	margin-left: 115px;
	margin-top: 20px;
}


.carousel ul li {
	float:left;
	color:#fff;
	text-align:center;
	
}

.carousel .pagination-links {
	list-style:none;
	margin:0;
	padding:0;
	text-align: right;
	margin-right: 95px;
}
 
.carousel .pagination-links li {
	display:inline;
	
}

.carousel .pagination-links li a {
	padding:2px 6px;
	color:#FE642E;	
	font-weight: bold;
	text-decoration:none;
	font-size:14px;

}

.carousel .pagination-links li a:hover {
	text-decoration:none;
	
}

.carousel .pagination-links li.current a {
	 color:#000;
}
 
.carousel .disabled {
	color:gray;
	cursor:default;
}


/** my carousel 3 **/
#my-carousel-3 .mask {
	width:745px;
}

	
